# virtual environments
.venv
venv
.venv/
venv/

# Python cache files
__pycache__/
app/__pycache__/
**/__pycache__
*.pyc
**/*.pyc

# secret files
.env

# plans
plans/

# docx docs
/*.docx
*.docx

# temp files
*.tmp

